@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rowdies&family=Secular+One&display=swap');

body {
    padding: 0;
    margin: 0;
    
}
body::-webkit-scrollbar {
  display: none;
}


.main-container {
  width: 100%;
  height: 100vh;
}

/* ---------------------------WELCOME-PAGE-------------------------------------- */


.welcome-page {
  width: 100%;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
  mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.background-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.welcome-text {
  font-family: 'Rowdies';
  font-size: 96px;
  font-weight: 400;
  color: #FE3B1F;
  min-height: 212px;
  width: 1090px;
  margin-top: 175px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.welcome-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}
.welcome-btn {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  padding: 12px 50px;
  border: none;
  border-radius: 50px;
  background-color: #FE3B1F;
  color: #fff;
  margin-top: 50px;
  z-index: 2;
  cursor: pointer;
}
.welcome-btn1 {
  margin-top: 50px;
  text-decoration-line: underline;
  font-size: 24px;
  font-family: 'Montserrat';
  color: #fff;
  background: none;
  border: none;
  z-index: 2;
  cursor: pointer;
}




/* ------------------------PERSONALINFO ----------------------------------------- */

.form {
    background-color: #ffffff;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 1920px;
  }
  
  .right-panel {
  background-color: #101113;
    width: 51.1%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0px;
  }
  .right-panel-title {
    color: #fe3b1f;
    width: 716px;
    height: 128px;
    display: flex;
    font-size: 64px;
    font-family: 'Rowdies';
    font-weight: 400;
    position: absolute;
    top: 52px;
    left: 177px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  .right-panel-text{
    color: #ffffff;
    width: 705px;
    height: 606px;
    display: flex;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 48px;
    position: absolute;
    top: 195px;
    left: 180px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 0;
  }


  .left-panel {
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .left-panel-text {
    position: absolute;
    width: 716px;
    height: 128px;
    left: 105px;
    top: 131px;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Rowdies';
    color: #FE3B1F;
  }


  .info-form {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 455px;
    height: 339px;
    left: 235px;
    top: 390px;
  }

  .info-form > div > input {
    border: 1px solid #525557;
    background: #fff;
    width: 455px;
    height: 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    padding: 20px;
    padding-left: 70px;

  }
  .personal-info-form-div > div > input:focus {
    outline: none;
  }
  
  .personalValidation {
    color: #FE3B1F;
    padding-left: 70px;
    padding-top: 4px;
    font-style: italic;
    font-size: 12px;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    left: 16%;
    bottom: 80px;
    width: 231px;
    height: 19px;
  }
  .pagination-steps {
    width: 19px;
    height: 19px;
    padding: 7px;
  }
  .prevnext {
    width: 18px;
    height: 18px;
    padding: 7px;
    cursor: pointer;
  }

/* -------------------------------------------------------------------------------- */

.container{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  width: 100vw;
}


.skills-left-panel {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 340px;
}

.left-panel-text {
    width: 717px;
  font-family: 'Rowdies';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FE3B1F;
    justify-content: center;
}

.skills-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 455px;
  height: 193px;
  margin-bottom: 56px;
  margin-left: 25%;
}

.skills-form select {
  width: 455px;
  height: 54px;
  border: 1px solid #525557;
  box-sizing: border-box;
  padding-left: 57px;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #454545;
  background-color: white;
  appearance: none;
  background: url('../src/assets/arrow.svg') 95% / 3% no-repeat rgb(255, 255, 255);
  margin-bottom: 31px;
}

.skills-form > input {
  width: 455px;
  height: 54px;
  padding-left: 57px;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 17px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.addButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.addButton > button {
  display: block;
  position: absolute;
  background-color: #FE3B1F;
  color: white;
  bottom: 0px;
  right: 0px;
  width: 201px;
  height: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 0px;
  outline: none;
  border: none;
  cursor: pointer;
}

.chosen-skills {
  display: grid;
    margin-left: 25%;
}

.chosen-skills-list {
  border: 1px solid #525557;
  width: 447px;
  height: 48px;
  display: flex;
  position: relative;
  margin-bottom: 17px;
}
.remove-skill {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
}

.skill-title{
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 49px;
  height: 26px;
  position: absolute;
  top: 15px;
  left: 17px;
}
.skill-exp {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 175px;
  height: 23px;
  position: absolute;
  left: 101px;
  top: 15px;
}

.skills-right-panel {
  height: 100%;
  width: 100%;
  background-color: #0C0D0E;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 131px;
}

.skills-right-panel-title {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FE3B1F;
  justify-content: center;
  width: 100%;
}

.skills-right-panel-text {
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 200%;
    display: flex;
    letter-spacing: 0.05em;
    justify-content: center;
    text-align: left;
    width: 717px;
    color: #FFFFFF;
}

.skills-error {
  color: #fe3b1f;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-size: 20px;
  letter-spacing: 0.05em;
  text-align: center;
}
